# Python Basics

This notebook covers core Python fundamentals:
- variables
- data types
- basic operations
- simple input/output

Part of the python-foundations project at 1DownLabs.

In [7]:
# Variables and Types

x = 10 
y = 3.5
name = "Martin" 


print(type(x))
print(type(y))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [14]:
# Basic Maths

a = 2 
b = 3 


print("Sum: ",a + b)
print("Division: ",b/a)
print("Multiplication: ", a*b)
print("Power: ",b**a)

Sum:  5
Division:  1.5
Multiplication:  6
Power:  9

In [15]:
# Strings

brand_name = "1DownLabs"

print(brand_name.upper())
print(brand_name.lower())
print(f"Name of the Brand is {brand_name}")

1DOWNLABS
1downlabs
Name of the Brand is 1DownLabs

## Lists

In [27]:
Names = ["Dalls", "San Antonio", "New York", "Jersey City", "Boston"]

print("Name at 0th Location is: ",Names[0])

#Append New city in the list
Names.append("Miami")
print(Names)

Name at 0th Location is:  Dalls
['Dalls', 'San Antonio', 'New York', 'Jersey City', 'Boston', 'Miami']

In [34]:
#last 3 elements of list
print(Names[len(Names)-3: len(Names)])
print(Names[-3:])

['Jersey City', 'Boston', 'Miami']
['Jersey City', 'Boston', 'Miami']

In [38]:
#First 3 elements of list
print(Names[:3])

['Dalls', 'San Antonio', 'New York']

In [39]:
#Slice list from 2 onwards
print(Names[2:])

['New York', 'Jersey City', 'Boston', 'Miami']

In [40]:
Names[2] = "Philidephia"

In [42]:
Names[2] = Names.append("New York")

In [43]:
Names

['Dalls', 'San Antonio', None, 'Jersey City', 'Boston', 'Miami', 'New York']

## Dictonaries

Employee = {
    "Name" : "Mark",
    
}