# Python Basics

This notebook covers core Python fundamentals:
- variables
- data types
- basic operations
- simple input/output

Part of the python-foundations project at 1DownLabs.

In [7]:
# Variables and Types

x = 10 
y = 3.5
name = "Martin" 


print(type(x))
print(type(y))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [14]:
# Basic Maths

a = 2 
b = 3 


print("Sum: ",a + b)
print("Division: ",b/a)
print("Multiplication: ", a*b)
print("Power: ",b**a)

Sum:  5
Division:  1.5
Multiplication:  6
Power:  9

In [15]:
# Strings

brand_name = "1DownLabs"

print(brand_name.upper())
print(brand_name.lower())
print(f"Name of the Brand is {brand_name}")

1DOWNLABS
1downlabs
Name of the Brand is 1DownLabs

## Lists

In [27]:
Names = ["Dalls", "San Antonio", "New York", "Jersey City", "Boston"]

print("Name at 0th Location is: ",Names[0])

#Append New city in the list
Names.append("Miami")
print(Names)

Name at 0th Location is:  Dalls
['Dalls', 'San Antonio', 'New York', 'Jersey City', 'Boston', 'Miami']

In [34]:
#last 3 elements of list
print(Names[len(Names)-3: len(Names)])
print(Names[-3:])

['Jersey City', 'Boston', 'Miami']
['Jersey City', 'Boston', 'Miami']

In [38]:
#First 3 elements of list
print(Names[:3])

['Dalls', 'San Antonio', 'New York']

In [39]:
#Slice list from 2 onwards
print(Names[2:])

['New York', 'Jersey City', 'Boston', 'Miami']

In [40]:
Names[2] = "Philidephia"

In [42]:
Names[2] = Names.append("New York")

In [43]:
Names

['Dalls', 'San Antonio', None, 'Jersey City', 'Boston', 'Miami', 'New York']

## Dictonaries

In [48]:
Employee = {
    "Name" : "Mark",
    "Age" : 20, 
    "City" : "New York"
}

print(Employee["Name"])

Mark

In [52]:
# Simple Loop
for n in Names:
    print(f"Names :{n}")

Names :Dalls
Names :San Antonio
Names :None
Names :Jersey City
Names :Boston
Names :Miami
Names :New York

In [54]:
# Simple function
def greet(n):
    for n in n:
        print(f"Names are: {n}")
    
    return None

greet(Names)

Names are: Dalls
Names are: San Antonio
Names are: None
Names are: Jersey City
Names are: Boston
Names are: Miami
Names are: New York

# Python Basics Test â€“ 1DownLabs

This notebook tests core Python fundamentals:
- variables & data types
- strings, lists, dictionaries
- conditionals & loops
- functions
- basic calculations

Goal: solve each problem without looking up solutions.

ðŸŸ¢ Question 1

Create three variables:

an integer

a float

a string
Print their types.

In [55]:
a = 1 
b = 3.5
c = "New York"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [56]:
"""Create a variable brand = "1DownLabs" and print:

its length

its uppercase version

its lowercase version
"""
brand =  "1DownLabs"

print(len(brand))
print(brand.upper())
print(brand.lower())

9
1DOWNLABS
1downlabs

In [57]:
a = 15 
b = 4

"""
Print:

sum
difference
product
division
remainder
"""
print (a + b)
print(a - b)
print(a*b)
print(a/b)
print(a % b)

19
11
60
3.75
3

In [59]:
"""
Given a list of numbers:

numbers = [10, 20, 30, 40, 50]

Calculate:
total
average
"""

numbers = [10, 20, 30, 40, 50]
print(sum(numbers))
print(sum(numbers)/len(numbers))

150
30.0

In [67]:
'''
Create a list of 5 project names.
Then:
print the first item
add a new project
remove one project
print final list
'''

projects = ["Alpha", "Beta", "Gama", "Delta", "Volcano"]
print(projects)
print(projects[0])
projects.append("Blue")
print(projects)
projects.remove("Gama")
print(projects)

['Alpha', 'Beta', 'Gama', 'Delta', 'Volcano']
Alpha
['Alpha', 'Beta', 'Gama', 'Delta', 'Volcano', 'Blue']
['Alpha', 'Beta', 'Delta', 'Volcano', 'Blue']

In [74]:
# Loop through the list and print:

for p in projects:
    print(f"Project: {p}")

Project: Alpha
Project: Beta
Project: Delta
Project: Volcano
Project: Blue

In [78]:
'''Create a dictionary called profile with keys:

name

role

company

Print each value.'''

profile = {
    "name" : "Arpit",
    "role" : "ceo",
    "company" : "1downlabs"
}

print(profile["name"])
print(profile["role"].upper())
print(profile["company"].upper())

Arpit
CEO
1DOWNLABS

In [85]:
'''Add a new key skills with a list of 3 skills.
Print the dictionary.'''

profile["Skills"] = ["Python", "SQL", "Tableau"]

print(profile)

{'name': 'Arpit', 'role': 'ceo', 'company': '1downlabs', 'Skills': ['Python', 'SQL', 'Tableau']}

In [89]:
'''Write a program that checks:

if a number is greater than 50 â†’ print "High"

else â†’ print "Low"

Test it with two different numbers.'''

a = input("Write first number")


if int(a) >= 50:
    print ("High")
else:
    print("Low")

High

In [90]:
'''Given:

score = 75


Print:

"Pass" if score >= 60

"Fail" otherwise'''

score = 75

if score >= 60:
    print("Pass")
else:
    print("Fail")

Pass

In [95]:
# Print numbers from 1 to 10 using a for loop.

for a in range(11):
    if a > 0:
        print(a)
    else:
        None

1
2
3
4
5
6
7
8
9
10

In [103]:
# Using a loop, calculate the sum of numbers from 1 to 100.


#Using For loop:
n = 0 

for a in range (1,101):
    n += a 

print (n)


# Using While Loop

Number = 0 
count = 1 
limit = 100 
while count <= limit:
    Number += count
    count += 1

print (f"Total Sum is {Number}")

5050
Total Sum is 5050

In [104]:
# Write a function greet(name) that returns:

def greet(name):
    print(f"Hello {name}, welcome to 1DownLabs!")

greet("Arpit")

Hello Arpit, welcome to 1DownLabs!

In [106]:
'''Write a function square(n) that returns the square of a number.

Test it with 5 and 10.'''

def square(n):
    return n * n 

result = square(5)

print (result)

result = square(10)

print (result)

25
100

In [111]:
'''You have a list of expenses:

expenses = [120, 300, 50, 80, 200]


Write code to print:

total expense

average expense

highest expense

lowest expense'''

expenses = [120, 300, 50, 80, 200]

print(expenses)
print("\nTotal Expense is: ", sum(expenses))
print("\nAverage Expense is: ", sum(expenses)/ len(expenses))
print("\nMax Expense is: ", max(expenses))
print("\nMin Expense is: ", min(expenses))

[120, 300, 50, 80, 200]

Total Expense is:  750

Average Expense is:  150.0

Max Expense is:  300

Min Expense is:  50

In [112]:
'''Given:

names = ["alice", "bob", "charlie"]


Print each name in uppercase using a loop.'''

names = ["alice", "bob", "charlie"]

for n in names:
    print(n.upper())

ALICE
BOB
CHARLIE