# 07 — Pandas Advanced Manipulation & Reshaping (1DownLabs)

Goals:
- build instinct for pandas patterns (groupby/transform/window/reshape)
- solve realistic analytics tasks without googling every step
- learn the mental models: split-apply-combine + tidy data

Dataset: vgsales.csv

In [2]:
import sys
from pathlib import Path
import pandas as pd
import numpy as np

project_root = Path("..").resolve()
sys.path.append(str(project_root))

df = pd.read_csv(project_root / "data" / "raw" / "vgsales.csv")

df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))
df = df.dropna(subset=["year"]).copy()
df["year"] = df["year"].astype(int)

df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Pandas weapons (master these and 80% becomes easy)

1) `groupby().agg(...)`  → summarise
2) `groupby().transform(...)` → compute per-row group metrics (same length as df)
3) `merge(...)` → bring metrics back
4) `pivot_table(...)` / `melt(...)` → reshape wide/long
5) Sorting + ranking (`sort_values`, `rank`) → top-n within groups

In [3]:
# 3) transform vs agg (Code)
# Goal: add publisher_total_sales to every row (same length as df)
df["publisher_total_sales"] = df.groupby("publisher")["global_sales"].transform("sum")
df[["name", "publisher", "global_sales", "publisher_total_sales"]].head(10)

                        name publisher  global_sales  publisher_total_sales
0                 Wii Sports  Nintendo         82.74                1784.43
1          Super Mario Bros.  Nintendo         40.24                1784.43
2             Mario Kart Wii  Nintendo         35.82                1784.43
3          Wii Sports Resort  Nintendo         33.00                1784.43
4   Pokemon Red/Pokemon Blue  Nintendo         31.37                1784.43
5                     Tetris  Nintendo         30.26                1784.43
6      New Super Mario Bros.  Nintendo         30.01                1784.43
7                   Wii Play  Nintendo         29.02                1784.43
8  New Super Mario Bros. Wii  Nintendo         28.62                1784.43
9                  Duck Hunt  Nintendo         28.31                1784.43

In [4]:
# Now: share of each game within publisher
df["share_within_publisher"] = df["global_sales"] / df["publisher_total_sales"]
df[["name", "publisher", "global_sales", "share_within_publisher"]].sort_values("share_within_publisher", ascending=False).head(10)

,name,publisher,global_sales,share_within_publisher
10534,DJ Max Fever,PM Studios,0.10,1.0
14889,Daito Giken Koushiki Pachi-Slot Simulator Hiho...,Paon Corporation,0.03,1.0
11385,Kamen Rider: Travelers Senki,Seventh Chord,0.08,1.0
15082,Prison Architect,Introversion Software,0.02,1.0
15075,Shaman King: Chou Senjiryokketsu 3,King Records,0.02,1.0
9447,Diablo II,Havas Interactive,0.13,1.0
2516,Custer's Revenge,Mystique,0.82,1.0
7726,Shutter Island,Merscom LLC,0.20,1.0
13005,Air Traffic Chaos,Ertain,0.05,1.0
10697,Fate/hollow ataraxia,Type-Moon,0.10,1.0

In [5]:
# Top-N within groups (publisher’s top 3 games) (Code)

df_sorted = df.sort_values(["publisher", "global_sales"], ascending=[True, False]).copy()
df_sorted["pub_rank"] = df_sorted.groupby("publisher")["global_sales"].rank(method="first", ascending=False)

top3_each_pub = df_sorted[df_sorted["pub_rank"] <= 3][["publisher", "name", "platform", "year", "global_sales", "pub_rank"]]
top3_each_pub.head(20)

,publisher,name,platform,year,global_sales,pub_rank
12349,10TACLE Studios,Panzer Tactics,DS,2007,0.06,1.0
14130,10TACLE Studios,Boulder Dash: Rocks!,DS,2007,0.03,2.0
15706,10TACLE Studios,Pirates: Legend of the Black Buccaneer,PS2,2006,0.02,3.0
13057,1C Company,Men of War: Assault Squad,PC,2011,0.05,1.0
13724,1C Company,Off-Road Drive,PC,2011,0.04,2.0
16449,1C Company,King's Bounty: Armored Princess,PC,2009,0.01,3.0
2596,20th Century Fox Video Games,Alien,2600,1981,0.79,1.0
5389,20th Century Fox Video Games,Fantastic Voyage,2600,1981,0.34,2.0
5395,20th Century Fox Video Games,Bank Heist,2600,1982,0.34,3.0
14011,2D Boy,World of Goo,PC,2008,0.04,1.0
1544,3DO,Army Men 3D,PS,1999,1.28,1.0
2430,3DO,Army Men: Air Attack,PS,1999,0.85,2.0
2546,3DO,Army Men: Sarge's Heroes,N64,1999,0.81,3.0
13577,49Games,Summer Athletics 2009,X360,2009,0.04,1.0
117,505 Games,Zumba Fitness,Wii,2010,6.81,1.0
153,505 Games,Cooking Mama,DS,2006,5.72,2.0
355,505 Games,Cooking Mama 2: Dinner With Friends,DS,2007,3.61,3.0
10381,5pb,Robotics;Notes,PS3,2012,0.11,1.0
11437,5pb,Steins;Gate: Hiyoku Renri no Darling,X360,2011,0.08,2.0
12191,5pb,Lucian Bee's: Justice Yellow / Evil Violet,PS2,2010,0.07,3.0

In [6]:
'''Window-style: cumulative sums by year (Code)
Total global sales per year + cumulative'''

year_sales = df.groupby("year", as_index=False)["global_sales"].sum().sort_values("year")
year_sales["cumulative_global_sales"] = year_sales["global_sales"].cumsum()
year_sales.head()

   year  global_sales  cumulative_global_sales
0  1980         11.38                    11.38
1  1981         35.77                    47.15
2  1982         28.86                    76.01
3  1983         16.79                    92.80
4  1984         50.36                   143.16

In [7]:
# Rolling metrics (3-year rolling mean) (Code)

year_sales["rolling_3yr_avg"] = year_sales["global_sales"].rolling(window=3, min_periods=1).mean()
year_sales.tail()

    year  global_sales  cumulative_global_sales  rolling_3yr_avg
34  2014        337.05                  8484.65       356.233333
35  2015        264.44                  8749.09       323.200000
36  2016         70.93                  8820.02       224.140000
37  2017          0.05                  8820.07       111.806667
38  2020          0.29                  8820.36        23.756667

In [8]:
# Reshaping: wide ↔ long (pivot and melt) (Code)

# Wide: regional totals per year

regional_by_year = (
    df.groupby("year", as_index=False)
      .agg(na=("na_sales","sum"), eu=("eu_sales","sum"), jp=("jp_sales","sum"), other=("other_sales","sum"))
      .sort_values("year")
)
regional_by_year.head()

   year     na    eu     jp  other
0  1980  10.59  0.67   0.00   0.12
1  1981  33.40  1.96   0.00   0.32
2  1982  26.92  1.65   0.00   0.31
3  1983   7.76  0.80   8.10   0.14
4  1984  33.28  2.10  14.27   0.70

In [9]:
# Long: tidy format for plotting/analysis

regional_long = regional_by_year.melt(id_vars="year", var_name="region", value_name="sales")
regional_long.head()

   year region  sales
0  1980     na  10.59
1  1981     na  33.40
2  1982     na  26.92
3  1983     na   7.76
4  1984     na  33.28

In [10]:
# Cohort-like thinking: “first appearance year” per platform (Code)

platform_first_year = df.groupby("platform")["year"].min().rename("platform_first_year")
df = df.merge(platform_first_year, on="platform", how="left")
df[["platform","year","platform_first_year"]].head()

  platform  year  platform_first_year
0      Wii  2006                 2006
1      NES  1985                 1983
2      Wii  2008                 2006
3      Wii  2009                 2006
4       GB  1996                 1988

In [17]:
'''DRILL 1 — “Top Genre per Platform per Decade”

Create a table with columns:

decade (e.g., 1990, 2000, 2010)

platform

top_genre

top_genre_sales'''


df['decade'] = (df['year'] // 10 )*10

top_genre_by_sale = (df.groupby(['platform', 'decade', 'genre']).agg(top_genre_sales = ('global_sales', 'sum')))

top_genre_by_sale['rank'] = top_genre_by_sale.groupby(['platform', 'decade'])['top_genre_sales'].rank(method="first", ascending=False)

top_genre_by_sale_final = top_genre_by_sale[top_genre_by_sale['rank'] == 1]

top_genre_by_sale_final =  top_genre_by_sale_final.reset_index()
top_genre_by_sale_final

   platform  decade         genre  top_genre_sales  rank
0      2600    1980        Action            26.39   1.0
1       3DO    1990     Adventure             0.06   1.0
2       3DS    2010  Role-Playing            75.71   1.0
3        DC    1990      Platform             2.42   1.0
4        DC    2000        Racing             2.01   1.0
5        DS    1980        Action             0.02   1.0
6        DS    2000    Simulation           121.86   1.0
7        DS    2010  Role-Playing            36.84   1.0
8        DS    2020    Simulation             0.29   1.0
9        GB    1980        Puzzle            37.54   1.0
10       GB    1990  Role-Playing            74.58   1.0
11       GB    2000  Role-Playing            12.56   1.0
12      GBA    2000      Platform            78.08   1.0
13       GC    2000        Action            37.25   1.0
14      GEN    1990      Platform            15.45   1.0
15       GG    1990      Platform             0.04   1.0
16      N64    1990        Racing            37.35   1.0
17      N64    2000        Action             9.90   1.0
18      NES    1980      Platform            89.43   1.0
19      NES    1990        Puzzle             9.46   1.0
20       NG    1990      Fighting             1.42   1.0
21       PC    1980    Simulation             0.06   1.0
22       PC    1990      Strategy            15.48   1.0
23       PC    2000    Simulation            29.87   1.0
24       PC    2010  Role-Playing            28.47   1.0
25     PCFX    1990  Role-Playing             0.03   1.0
26       PS    1990        Action            93.60   1.0
27       PS    2000        Action            32.14   1.0
28      PS2    2000        Action           271.02   1.0
29      PS2    2010        Sports             3.36   1.0
30      PS3    2000        Action           100.36   1.0
31      PS3    2010        Action           203.66   1.0
32      PS4    2010        Action            87.06   1.0
33      PSP    2000        Action            47.18   1.0
34      PSP    2010  Role-Playing            20.05   1.0
35      PSV    2010        Action            20.01   1.0
36      SAT    1990      Fighting             8.52   1.0
37      SCD    1990      Platform             1.50   1.0
38     SNES    1990      Platform            65.65   1.0
39     TG16    1990     Adventure             0.14   1.0
40       WS    1990  Role-Playing             0.46   1.0
41       WS    2000  Role-Playing             0.76   1.0
42      Wii    2000        Sports           251.00   1.0
43      Wii    2010          Misc            90.09   1.0
44     WiiU    2010      Platform            21.24   1.0
45     X360    2000       Shooter           116.16   1.0
46     X360    2010       Shooter           161.07   1.0
47       XB    2000       Shooter            62.12   1.0
48     XOne    2010       Shooter            51.61   1.0

In [20]:
'''DRILL 2 — “Publisher concentration”

For each publisher, compute:

publisher_total_sales

top_game_sales (max global_sales)

concentration = top_game_sales / publisher_total_sales

Return top 20 publishers by concentration (descending), include game name.'''



df['publisher_total_sales'] = df.groupby('publisher')['global_sales'].transform('sum')
df['top_game_sales'] = df.groupby('publisher')['global_sales'].transform('max')
df['concentration'] = (df['top_game_sales'] / df['publisher_total_sales']).round(decimals=2)

top_20_pub_by_concen =  df[['publisher','name','publisher_total_sales','top_game_sales','concentration']].sort_values('concentration', ascending= False).head(20)

top_20_pub_by_concen

,publisher,name,publisher_total_sales,top_game_sales,concentration
16299,UIG Entertainment,Farming 2017 - The Simulation,0.01,0.01,1.0
15307,Technos Japan Corporation,Super Dodge Ball,0.02,0.02,1.0
15254,Karin Entertainment,Zettai Meikyuu Grimm: Nanatsu no Kagi to Rakue...,0.02,0.02,1.0
8121,Adeline Software,Time Commando,0.17,0.17,1.0
7604,Merscom LLC,Shutter Island,0.20,0.20,1.0
16294,Rain Games,Teslagrad,0.01,0.01,1.0
15233,Imageworks,Sotsugyou II: Neo Generation Special,0.02,0.02,1.0
15179,Marvelous Games,Net High,0.02,0.02,1.0
15106,Phoenix Games,Chicken Hunter,0.02,0.02,1.0
15101,Quintet,Code R,0.02,0.02,1.0
15063,Codemasters Online,The Lord of the Rings Online: Mines of Moria,0.02,0.02,1.0
15026,fonfun,World Neverland 2in1 Portable: Olerud Kingdom ...,0.02,0.02,1.0
1648,Black Label Games,The Lord of the Rings: The Fellowship of the Ring,1.20,1.20,1.0
14946,Plenty,Quiz Present Variety Q-Sama!! DS: Pressure Stu...,0.02,0.02,1.0
14944,Gaga,Shippuu Mahou Daisakusen: Kingdom-Grandprix,0.02,0.02,1.0
14841,Introversion Software,Prison Architect,0.02,0.02,1.0
14834,King Records,Shaman King: Chou Senjiryokketsu 3,0.02,0.02,1.0
14832,Graphsim Entertainment,Falcon 4.0: Allied Force,0.02,0.02,1.0
15539,Saurus,Irritating Stick,0.02,0.02,1.0
8220,Panther Software,Space Griffon VF-9,0.17,0.17,1.0

In [13]:
'''DRILL 3 — “Year-over-year growth”

Compute total global sales per year and YoY % growth.

Output columns:

year

global_sales

prev_year_sales

yoy_growth_pct'''

yoy_growth = df.groupby('year').agg(total_global_sales = ('global_sales', 'sum')).sort_values('year')

yoy_growth['prev_year_sales'] =  yoy_growth['total_global_sales'].shift(1) 

yoy_growth['yoy_growth_pct'] = (((yoy_growth['total_global_sales'] - yoy_growth['prev_year_sales']) / yoy_growth['prev_year_sales']) * 100.00).round(decimals=2)

yoy_growth

      total_global_sales  prev_year_sales  yoy_growth_pct
year
1980               11.38              NaN             NaN
1981               35.77            11.38          214.32
1982               28.86            35.77          -19.32
1983               16.79            28.86          -41.82
1984               50.36            16.79          199.94
1985               53.94            50.36            7.11
1986               37.07            53.94          -31.28
1987               21.74            37.07          -41.35
1988               47.22            21.74          117.20
1989               73.45            47.22           55.55
1990               49.39            73.45          -32.76
1991               32.23            49.39          -34.74
1992               76.16            32.23          136.30
1993               45.98            76.16          -39.63
1994               79.17            45.98           72.18
1995               88.11            79.17           11.29
1996              199.15            88.11          126.02
1997              200.98           199.15            0.92
1998              256.47           200.98           27.61
1999              251.27           256.47           -2.03
2000              201.56           251.27          -19.78
2001              331.47           201.56           64.45
2002              395.52           331.47           19.32
2003              357.85           395.52           -9.52
2004              419.31           357.85           17.17
2005              459.94           419.31            9.69
2006              521.04           459.94           13.28
2007              611.13           521.04           17.29
2008              678.90           611.13           11.09
2009              667.30           678.90           -1.71
2010              600.45           667.30          -10.02
2011              515.99           600.45          -14.07
2012              363.54           515.99          -29.55
2013              368.11           363.54            1.26
2014              337.05           368.11           -8.44
2015              264.44           337.05          -21.54
2016               70.93           264.44          -73.18
2017                0.05            70.93          -99.93
2020                0.29             0.05          480.00

In [25]:
'''DRILL 4 — “Stable winners”

Find publishers that were in the top 10 by global sales for at least 5 different years.

Output:

publisher

years_in_top10'''


drill_4 =  df.groupby(['year','publisher'], as_index=False)['global_sales'].sum()

drill_4['rank'] = drill_4.groupby('year')['global_sales'].rank(method="first", ascending=False)

final =  drill_4[drill_4['rank'] <= 10]

publisher
20th Century Fox Video Games               2
989 Studios                                2
Acclaim Entertainment                      6
Activision                                30
Answer Software                            1
Arena Entertainment                        1
Atari                                     10
Banpresto                                  2
Bethesda Softworks                         3
CPG Products                               1
Capcom                                    12
Coleco                                     1
Disney Interactive Studios                 2
Eidos Interactive                          4
Electronic Arts                           22
Enix Corporation                           6
GT Interactive                             3
HAL Laboratory                             1
Hasbro Interactive                         2
Hudson Soft                                7
Idea Factory                               1
Imagic                                     1
Konami Digital Entertainment              18
LucasArts                                  1
Mattel Interactive                         1
Maxis                                      2
Men-A-Vision                               1
Microsoft Game Studios                    10
Mycom                                      1
Mystique                                   1
Namco Bandai Games                        23
Nintendo                                  34
Palcom                                     1
Parker Bros.                               3
Quelle                                     1
Red Orb                                    1
Sega                                      16
Sony Computer Entertainment               23
Sony Computer Entertainment Europe         1
Square                                     1
Square Enix                                4
SquareSoft                                12
THQ                                       13
Take-Two Interactive                      15
Tecmo Koei                                 2
Tigervision                                1
Ubisoft                                   17
Universal Gamex                            1
Virgin Interactive                         4
Vivendi Games                              1
Warner Bros. Interactive Entertainment     6
Wizard Video Games                         1
Name: year, dtype: int64

In [15]:
'''DRILL 5 — “Regional mix as percentages (tidy output)”

Create a tidy dataframe:
publisher (top 10 publishers)
region (na/eu/jp/other)
pct_of_publisher_sales

Hints:

first compute sums by publisher for each region
melt to long
compute pct using row-wise division by total'''

drill_5 = (df.groupby('publisher', as_index=False).agg(na = ('na_sales', 'sum'), 
                                        eu = ('eu_sales', 'sum'),
                                        jp = ('jp_sales', 'sum'),
                                        other = ('other_sales', 'sum'),
                                        global_sales = ('global_sales', 'sum'))
                                        .sort_values('global_sales', ascending= False)
                                        .head(10))

drill_5_melt = drill_5.melt(id_vars="publisher", var_name="region", value_name="sales")

drill_5_melt

                       publisher        region    sales
0                       Nintendo            na   815.75
1                Electronic Arts            na   584.22
2                     Activision            na   426.01
3    Sony Computer Entertainment            na   265.22
4                        Ubisoft            na   252.81
5           Take-Two Interactive            na   220.47
6                            THQ            na   208.60
7   Konami Digital Entertainment            na    88.91
8                           Sega            na   108.78
9             Namco Bandai Games            na    69.38
10                      Nintendo            eu   418.30
11               Electronic Arts            eu   367.38
12                    Activision            eu   213.72
13   Sony Computer Entertainment            eu   187.55
14                       Ubisoft            eu   163.03
15          Take-Two Interactive            eu   117.95
16                           THQ            eu    94.60
17  Konami Digital Entertainment            eu    68.62
18                          Sega            eu    81.41
19            Namco Bandai Games            eu    42.61
20                      Nintendo            jp   454.99
21               Electronic Arts            jp    13.98
22                    Activision            jp     6.54
23   Sony Computer Entertainment            jp    74.10
24                       Ubisoft            jp     7.33
25          Take-Two Interactive            jp     5.83
26                           THQ            jp     5.01
27  Konami Digital Entertainment            jp    90.93
28                          Sega            jp    56.19
29            Namco Bandai Games            jp   126.84
30                      Nintendo         other    95.19
31               Electronic Arts         other   127.63
32                    Activision         other    74.79
33   Sony Computer Entertainment         other    80.40
34                       Ubisoft         other    50.16
35          Take-Two Interactive         other    55.20
36                           THQ         other    32.11
37  Konami Digital Entertainment         other    29.91
38                          Sega         other    24.30
39            Namco Bandai Games         other    14.64
40                      Nintendo  global_sales  1784.43
41               Electronic Arts  global_sales  1093.39
42                    Activision  global_sales   721.41
43   Sony Computer Entertainment  global_sales   607.28
44                       Ubisoft  global_sales   473.54
45          Take-Two Interactive  global_sales   399.30
46                           THQ  global_sales   340.44
47  Konami Digital Entertainment  global_sales   278.56
48                          Sega  global_sales   270.70
49            Namco Bandai Games  global_sales   253.65